.table {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.bgG {
  background-color: #7fffd4;
  width: 100%;
}

.bgY {
  background-color: #ffff9c;
  width: 75%;
}

.bgP {
  background-color: #a7fafa;
  width: 50%;
}

.bgR {
  background-color: #fe8095;
  width: 25%;
}

.iconUyR:hover {
  border: solid 1px;
}
